<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="num1" value="ABC"/>
	<parameter name="num2" value="XYZ"/>
	<parameter name="num3" value="50"/>
	<parameter name="num4" value="60"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.parameterization.Parameters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
